/* Main CSS file */
* {
  box-sizing: border-box;
}

.body {
  width: 500px;
  font-family: sans-serif;
}

.listSection {
  background-color: lightgrey;
  height: 400px;
}

.todoHeader {
  font-size: 50px;
  font-weight: lighter;
  margin: 0;
  text-align: center;
}

.listDiv {
  position: relative;
  background-color: white;
  border: 1px solid grey;
  margin: 0 20px 50px 20px;
}

.todoList {
  list-style: none;
  padding-left: 0;
}

.todoList__text {
  color: black;
  border: none;
  border-bottom: 1px solid lightgrey;
  font-size: 25px;
  margin-top: 0px;
  outline: none;
  padding-left: 50px;
  padding-bottom: 15px;
  width: 100%;
}

.listSubmit {
  display: none;
}

.circleOutline {
  border: 1px solid lightgreen;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  margin: 10px 15px;
  vertical-align: bottom;
  width: 20px;
}

.checkMark {
  font-size: 15px;
  display: none;
  margin: 0;
  padding-left: 3px;
}

.todo__item {
  display: inline-block;
  font-size: 25px;
  line-height: 40px;
  margin: 0;
  vertical-align: middle;
  width: 100px;
}

.listUnderline {
  border-bottom: 1px solid lightgrey;
  height: 46px
  font-size: 0;
}
